@{
    ViewBag.Title = "Mile Converter";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm("ColorMixer", "Home", FormMethod.Get))
    {
        <div class="col-md-6">
            <p>@Html.Label("Color1Label", "First Color")</p>
            @Html.TextBox("HexVal1")
        </div>


        <div class="col-md-6">
            @Html.Label("Color2Label", "Second Color")
            <div class="w3-container">
                @Html.TextBox("HexVal2")
            </div>
            <input type="submit" />

        </div>
    }
</div>
<td class="pal" id="p2" background-color="@ViewBag.MixedColor"></td>
<p>@ViewBag.MixedColor</p>
