@{
    ViewBag.Title = "Mile Converter";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm("ColorMixer", "Home", FormMethod.Post))
    {
        <div class="col-md-6">
            <p><label for="Miles">Miles</label></p>
            @Html.TextBox("miles")
        </div>


        <div class="col-md-6">
            @Html.Label("Color2Label", "Second Color")
            <div class="w3-container">
                @Html.TextBox("Metric")
            </div>
            <input type="submit" />

        </div>
}
    </div>
<p>@ViewBag.Message</p>
